version: "3.9"

services:

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"
    environment:
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASS=dharunsiva@1
      - DB_NAME=mydb
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  db:
    image: postgres:15
    container_name: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=dharunsiva@1
      - POSTGRES_DB=mydb
    ports:
      - "5432:5432"

networks:
  default:
    name: app-network
